<a href="https://colab.research.google.com/github/nnrtgt/nptel/blob/master/Data%20Science%20for%20Engineers/Week4DataSciencePython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [12]:
!ls '/content/gdrive/My Drive'

 1575204326849.png
'after school discussion.aac'
'Ananya Balanced diet.aac'
'Ananya hanumanchalisa video.mp4'
'Ananya thillaana video.mp4'
 Audible
'Bajaj Motor Policy28.pdf'
'BajajRenewalReceipt June2020.pdf'
'BBMP Receipt_201709948_14_05_2020.pdf'
'behavior high.aac'
'behavior low.aac'
'behavior medium.aac'
'Boduppal House Property Tax .jpg'
'Cake pics'
'Cascading madows'
'case codung clarification.aac'
 CCPA.aac
'class 6 chapter 6major landforms of the earth.aac'
'class 6 chapter 7 our country _ India.aac'
 Classroom
'Colab Notebooks'
 complaints.csv
 complaints.csv.zip
'"Consumer_Complaints.csv".gsheet'
'Copy of Trivia Game Multiple Choice.gsheet'
 CreditWorthiness.xlsx
'crm and innovation.aac'
 dietician.aac
'Doctor .aac'
 Doctor.aac
'Doctor consultancy for Ananya 3rd Aug 2018.aac'
'Epson iPrint'
 Feedback
 feedback.aac
'feedback mete.aac'
'GCP PART1.aac'
'Getting started.pdf'
 goals.aac
'goals take2.aac'
 golang.aac
'grade 4 general science chapter 8 force work and energy.aac'
'grade 6 biology unit 4 rocks and fossils.aac'
'grade 6 English future time.aac'
'GRADE 7 PORTIONS-TEE.pdf'
'HBR must read top 10 leadership.pdf'
'HDFC ERGO CAR INSURANCE 2020-2021 2311100778747700.pdf'
 Health
 Healthifyme
 hen.aac
'Hindi 1.aac'
'Hindi class 6 lesson 1.aac'
 ifct-doc.pdf
 IMG_20200116_071138.jpg
 IMG_20200812_132818.jpg
 IMG_20200812_132825.jpg
 IMG_20200812_132842.jpg
 IMG_20200812_132846.jpg
 IMG_20200812_132849.jpg
 IMG_20200812_132919.jpg
 IMG_20200812_132923.jpg
 IMG_20200812_132942.jpg
'Innovation 1.aac'
'innovation 2.aac'
'Krishna bird.aac'
'Krishna Hindi 1.aac'
'Krishna Hindi 2.aac'
'Krishna hindi.aac'
'krishna willy.aac'
 Lesson.aac
'LMH 10th Class .gmap'
 Messagebackup.json
'Microsoft Product Guide.pdf'
'morning musing.aac'
 mpst_full_data.csv.gsheet
'Multi Class Text Classification'
'multiplier B071VCKP17.pdf'
'Narasimharao Nakarikanti.pdf'
'new app idea.aac'
'New Doc 2019-11-02.jpg'
'nnr hindi.aac'
'NPTEL Applied NLP'
'NPTEL Data Science for Engineers'
 Oltmpiad
'other integrations.aac'
 personal.ml.gsite
 pitching.aac
'praxis chatter api.aac'
'Principal EM JD.pdf'
 Rama.aac
'Ramu .aac'
'Record-001 feedback team retro.aac'
 Record-002.aac
'Record-003 chatbot.aac'
 Record-004.aac
 Record-005.aac
 Record-005hen.aac
 Record-006.aac
'Record-006krishnas first story.aac'
'Record-006krshna voic.aac'
 Record-007.aac
 Record-008.aac
 Record-009.aac
 Record-010.aac
 Record-011.aac
 Record-012.aac
 Record-013.aac
 Record-014.aac
 Record-015.aac
 Record-016.aac
 Record-017.aac
 Record-018.aac
 Record-019.aac
 Record-021.aac
 Record-022.aac
 Record-024.aac
 Record-025.aac
 Record-026.aac
 Record-028.aac
 Record-029.aac
 Record-030.aac
 Record-031.aac
 Record-032.aac
 Record-034.aac
 Record-035.aac
 Record-036.aac
 Record-037.aac
 Record-038.aac
 Record-039.aac
'Record-039 Akanksha.aac'
 Record-040.aac
'Record-040 Deepa Malik.aac'
'Record-040 Krishna song.aac'
 Record-041.aac
'Record-041 Krishna try everything.aac'
 Record-042.aac
 Record-043.aac
 Record-044.aac
 Record-045.aac
 Record-046.aac
 Record-047.aac
 Record-048.aac
 Record-049.aac
 Recording
 Recruit.aac
'rocks and fossils.aac'
'Salesforce 1.aac'
 Salesforce.aac
 Sample.gscript
 Screencastify
 servicenow.aac
 Sharadhi.aac
 strategy.aac
 tc-for-amazon-pay-credit-card.pdf
 team.aac
'TERM END-TT-Grade5-8.pdf'
 test.aac
'the wind.aac'
 truweight.aac
 uncertainty.aac
'Unit 1 grade 6 biology chapter structure and functions of plant .aac'
'unit 2 chapter structure and functions of the plant parts grade .aac'
 uno.aac
'Untitled form.gform'
'Untitled map.gmap'
 VID_20200324_174458.mp4
 VID_20200324_180303.mp4
'vilom shabdh.aac'
'voice to text.aac'

In [23]:
df = pd.read_excel('CreditWorthiness.xlsx',sheet_name=2)

In [24]:
df.describe()

              Cdur          Camt  ...      NumCred      Ndepend
count  1000.000000    1000.00000  ...  1000.000000  1000.000000
mean     20.903000   32592.58000  ...     1.407000     1.155000
std      12.058814   28227.36876  ...     0.577654     0.362086
min       4.000000    2380.00000  ...     1.000000     1.000000
25%      12.000000   13535.00000  ...     1.000000     1.000000
50%      18.000000   23075.00000  ...     1.000000     1.000000
75%      24.000000   39602.50000  ...     2.000000     1.000000
max      72.000000  184120.00000  ...     4.000000     2.000000

[8 rows x 6 columns]

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Cbal         1000 non-null   object
 1   Cdur         1000 non-null   int64
 2   Chist        1000 non-null   object
 3   Cpur         1000 non-null   object
 4   Camt         1000 non-null   int64
 5   Sbal         1000 non-null   object
 6   Edur         1000 non-null   object
 7   InRate       1000 non-null   int64
 8   MSG          1000 non-null   object
 9   Oparties     1000 non-null   object
 10  Rdur         1000 non-null   object
 11  Prop         1000 non-null   object
 12  age          1000 non-null   int64
 13  inPlans      1000 non-null   object
 14  Htype        1000 non-null   object
 15  NumCred      1000 non-null   int64
 16  JobType      1000 non-null   object
 17  Ndepend      1000 non-null   int64
 18  telephone    1000 non-null   object
 19  foreign      1000 non-null   object
 20  creditScore  1000 non-null   object
dtypes: int64(6), object(15)
memory usage: 164.2+ KB

In [15]:
cd '/content/gdrive/My Drive'

/content/gdrive/My Drive