<a href="https://colab.research.google.com/github/nnrtgt/nptel/blob/master/Data%20Science%20for%20Engineers/Week4DataSciencePython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
!ls '/content/gdrive/My Drive'

In [ ]:
df = pd.read_excel('CreditWorthiness.xlsx',sheet_name=2)

In [ ]:
df.describe()

              Cdur          Camt  ...      NumCred      Ndepend
count  1000.000000    1000.00000  ...  1000.000000  1000.000000
mean     20.903000   32592.58000  ...     1.407000     1.155000
std      12.058814   28227.36876  ...     0.577654     0.362086
min       4.000000    2380.00000  ...     1.000000     1.000000
25%      12.000000   13535.00000  ...     1.000000     1.000000
50%      18.000000   23075.00000  ...     1.000000     1.000000
75%      24.000000   39602.50000  ...     2.000000     1.000000
max      72.000000  184120.00000  ...     4.000000     2.000000

[8 rows x 6 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Cbal         1000 non-null   object
 1   Cdur         1000 non-null   int64
 2   Chist        1000 non-null   object
 3   Cpur         1000 non-null   object
 4   Camt         1000 non-null   int64
 5   Sbal         1000 non-null   object
 6   Edur         1000 non-null   object
 7   InRate       1000 non-null   int64
 8   MSG          1000 non-null   object
 9   Oparties     1000 non-null   object
 10  Rdur         1000 non-null   object
 11  Prop         1000 non-null   object
 12  age          1000 non-null   int64
 13  inPlans      1000 non-null   object
 14  Htype        1000 non-null   object
 15  NumCred      1000 non-null   int64
 16  JobType      1000 non-null   object
 17  Ndepend      1000 non-null   int64
 18  telephone    1000 non-null   object
 19  foreign      1000 non-null   object
 20  creditScore  1000 non-null   object
dtypes: int64(6), object(15)
memory usage: 164.2+ KB

In [ ]:
cd '/content/gdrive/My Drive'

/content/gdrive/My Drive